# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/webpack-project/node_modules
/perform/node_modules
/parcel/node_modules
/.pnp
.pnp.js
.idea/workspace.xml
# testing
/coverage
# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
parcel/.cache/00/
parcel/.cache/01/
parcel/.cache/02/
parcel/.cache/03/
parcel/.cache/04/
parcel/.cache/05/
parcel/.cache/06/
parcel/.cache/07/
parcel/.cache/08/
parcel/.cache/0a/
parcel/.cache/0b/
parcel/.cache/0c/
parcel/.cache/0d/
parcel/.cache/0e/
parcel/.cache/10/
parcel/.cache/11/
parcel/.cache/12/
parcel/.cache/13/
parcel/.cache/14/
parcel/.cache/15/
parcel/.cache/16/
parcel/.cache/17/
parcel/.cache/18/
parcel/.cache/19/
parcel/.cache/1a/
parcel/.cache/1b/
parcel/.cache/1c/
parcel/.cache/1d/
parcel/.cache/1e/
parcel/.cache/1f/
parcel/.cache/20/
parcel/.cache/21/
parcel/.cache/22/
parcel/.cache/23/
parcel/.cache/24/
parcel/.cache/25/
parcel/.cache/26/
parcel/.cache/27/
parcel/.cache/28/
parcel/.cache/29/
parcel/.cache/2a/
parcel/.cache/2b/
parcel/.cache/2c/
parcel/.cache/2d/
parcel/.cache/2e/
parcel/.cache/2f/
parcel/.cache/30/
parcel/.cache/31/
parcel/.cache/32/
parcel/.cache/33/
parcel/.cache/34/
parcel/.cache/35/
parcel/.cache/37/
parcel/.cache/38/
parcel/.cache/39/
parcel/.cache/3a/
parcel/.cache/3b/
parcel/.cache/3c/
parcel/.cache/3d/
parcel/.cache/3e/
parcel/.cache/40/
parcel/.cache/41/
parcel/.cache/43/
parcel/.cache/44/
parcel/.cache/45/
parcel/.cache/46/
parcel/.cache/47/
parcel/.cache/48/
parcel/.cache/4a/
parcel/.cache/4b/
parcel/.cache/4c/
parcel/.cache/4d/
parcel/.cache/4e/
parcel/.cache/4f/
parcel/.cache/50/
parcel/.cache/51/
parcel/.cache/52/
parcel/.cache/54/
parcel/.cache/55/
parcel/.cache/56/
parcel/.cache/57/
parcel/.cache/58/
parcel/.cache/59/
parcel/.cache/5a/
parcel/.cache/5b/
parcel/.cache/5c/
parcel/.cache/5d/
parcel/.cache/5e/
parcel/.cache/5f/
parcel/.cache/60/
parcel/.cache/61/
parcel/.cache/62/
parcel/.cache/63/
parcel/.cache/64/
parcel/.cache/65/
parcel/.cache/66/
parcel/.cache/67/
parcel/.cache/68/
parcel/.cache/69/
parcel/.cache/6a/
parcel/.cache/6b/
parcel/.cache/6c/
parcel/.cache/6d/
parcel/.cache/6e/
parcel/.cache/6f/
parcel/.cache/70/
parcel/.cache/72/
parcel/.cache/73/
parcel/.cache/74/
parcel/.cache/75/
parcel/.cache/76/
parcel/.cache/77/
parcel/.cache/78/
parcel/.cache/79/
parcel/.cache/7a/
parcel/.cache/7b/
parcel/.cache/7c/
parcel/.cache/7d/
parcel/.cache/7e/
parcel/.cache/7f/
parcel/.cache/80/
parcel/.cache/81/
parcel/.cache/82/
parcel/.cache/83/
parcel/.cache/84/
parcel/.cache/85/
parcel/.cache/86/
parcel/.cache/87/
parcel/.cache/88/
parcel/.cache/89/
parcel/.cache/8a/
Woul
d remove parcel/.cache/8c/
parcel/.cache/8d/
parcel/.cache/8e/
parcel/.cache/8f/
parcel/.cache/90/
parcel/.cache/91/
parcel/.cache/92/
parcel/.cache/93/
parcel/.cache/94/
parcel/.cache/95/
parcel/.cache/96/
parcel/.cache/97/
parcel/.cache/98/
parcel/.cache/99/
parcel/.cache/9a/
parcel/.cache/9b/
parcel/.cache/9c/
parcel/.cache/9d/
parcel/.cache/9e/
parcel/.cache/9f/
parcel/.cache/a1/
parcel/.cache/a3/
parcel/.cache/a4/
parcel/.cache/a5/
parcel/.cache/a6/
parcel/.cache/a7/
parcel/.cache/a9/
parcel/.cache/aa/
parcel/.cache/ab/
parcel/.cache/ac/
parcel/.cache/ad/
parcel/.cache/ae/
parcel/.cache/b0/
parcel/.cache/b1/
parcel/.cache/b2/
parcel/.cache/b3/
parcel/.cache/b4/
parcel/.cache/b5/
parcel/.cache/b6/
parcel/.cache/b7/
parcel/.cache/b8/
parcel/.cache/b9/
parcel/.cache/ba/
parcel/.cache/bb/
parcel/.cache/bc/
parcel/.cache/bd/
parcel/.cache/be/
parcel/.cache/bf/
parcel/.cache/c0/
parcel/.cache/c1/
parcel/.cache/c2/
parcel/.cache/c3/
parcel/.cache/c4/
parcel/.cache/c5/
parcel/.cache/c6/
parcel/.cache/c7/
parcel/.cache/c8/
parcel/.cache/c9/
parcel/.cache/ca/
parcel/.cache/cb/
parcel/.cache/cc/
parcel/.cache/cd/
parcel/.cache/ce/
parcel/.cache/cf/
parcel/.cache/d0/
parcel/.cache/d1/
parcel/.cache/d2/
parcel/.cache/d3/
parcel/.cache/d4/
parcel/.cache/d5/
parcel/.cache/d6/
parcel/.cache/d7/
parcel/.cache/d8/
parcel/.cache/d9/
parcel/.cache/da/
parcel/.cache/db/
parcel/.cache/dc/
parcel/.cache/dd/
parcel/.cache/de/
parcel/.cache/df/
parcel/.cache/e0/
parcel/.cache/e1/
parcel/.cache/e2/
parcel/.cache/e3/
parcel/.cache/e4/
parcel/.cache/e5/
parcel/.cache/e6/
parcel/.cache/e7/
parcel/.cache/e8/
parcel/.cache/e9/
parcel/.cache/ea/
parcel/.cache/eb/
parcel/.cache/ec/
parcel/.cache/ed/
parcel/.cache/ee/
parcel/.cache/ef/
parcel/.cache/f0/
parcel/.cache/f1/
parcel/.cache/f2/
parcel/.cache/f3/
parcel/.cache/f4/
parcel/.cache/f5/
parcel/.cache/f6/
parcel/.cache/f7/
parcel/.cache/f8/
parcel/.cache/f9/
parcel/.cache/fa/
parcel/.cache/fb/
parcel/.cache/fc/
parcel/.cache/fd/
parcel/.cache/fe/
test/node_modules/
test/package-lock.json
test/package.json
test/script.js
test/script.test.js
type/tsconfig.json
type/typescript.js
type/typescript.ts
validation.zip
validation/validate-checkbox.js
